<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav>
    <div>
      <a href="/celebrities"> Celebrities</a>
      <a href="/movies">Movies</a>
    </div>
  
    <div>
      
      {{#if currentUser}}
        <a href="/userprofile"><h3>{{currentUser.username}}</h3></a>
        <a href="/logout"> Logout</a>
      {{else}}
        <a href="/login"> Login</a>
        <a href="/signup"> Create an Account</a>
      {{/if}}
      
    </div>
  </nav>
  <div>
    {{#if errorMessage}}
        <h4>{{errorMessage}}</h4>
    {{/if}}
  </div>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>